<section>
    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="logo-text-container col-md-3 col-12 text-center text-md-left">
                    <a href="#video">
                        <img src="{{ url_for('static', filename='img/tradicom3-8.png') }}" alt="Logo" class="img-fluid" style="max-width: 200px; margin-left: 30px;">
                    </a>
                </div>
                <div class="col-md-5 col-12">
                    <p class="font-weight-bold">
                        Tradicom SA es su aliado en la provisión de tecnología avanzada para optimizar procesos en las industrias de Oil & Gas, 
                        refinación, energía y petroquímica. Con más de 30 años de experiencia, colaboramos con líderes mundiales en tecnología 
                        para asegurar eficiencia, fiabilidad y soluciones personalizadas que mejoran la producción de nuestros clientes.
                    </p>
                </div>
                <div class="col-md-4 col-12">
                    <div class="row">
                        <div class="col-5">
                            <ul class="list-unstyled text-center text-md-left">
                                <li><a href="#inicio" class="font-weight-bold menu-footer">Inicio</a></li>
                                <li><a href="#nosotros" class="font-weight-bold menu-footer">Quienes Somos</a></li>
                                <li><a href="#galeria" class="font-weight-bold menu-footer">Clientes</a></li>
                                <li><a href="#representacion" class="font-weight-bold menu-footer">Representacion</a></li>
                                <li><a href="#motores" class="font-weight-bold menu-footer">Motores y Compresores</a></li>
                            </ul>
                        </div>
                        <div class="col-5">
                            <ul class="list-unstyled text-center text-md-left">
                                <li><a href="#separacion" class="font-weight-bold menu-footer">Separación y Filtración</a></li>
                                <li><a href="#membranas" class="font-weight-bold menu-footer">Membranas y adsorción</a></li>
                                <li><a href="#servicios" class="font-weight-bold menu-footer">Servicios</a></li>
                                <li><a href="#contacto" class="font-weight-bold menu-footer">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12 text-center mt-4">
                    <p><b>Puedes encontrarnos en:</b></p>
                        <a class="icon" href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="icon" href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="icon" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <br> 
                        <br> 
                    <p class="linea-footer2">Tradicom S.A.</p>
                        <p><b>&copy; 2025 - Todos los Derechos Reservados</b></p>
                        <p><b>Diseño y Desarrollo - Lic. Eduardo J. Moreno</b></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>

