<section id="inicio" class="full-width-section section-margin px-sm-3">
    <div class="common-class fondo_inicio">
        <div class="row jf_section_1">
            <div class="col-12 px-0">
                <div class="half-page bg-cover">
                    <!-- Imagen de fondo -->
                </div>
                <div class="half-page d-flex align-items-center justify-content-center white-bg">
                    <p class="texto-p">Proveyendo equipos, repuestos y servicios de tecnología de avanzada 
                        en el mercado del gas y petróleo, petroquímica y energía en latinoamérica por mas de 30 años.</p>
                </div>
            </div>
        </div>
    </div>
</section>
