<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top transparent-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/tradicom3-8.png') }}" alt="Logo" style="width: 180px;"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item menu-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link active" aria-current="page" href="#nosotros">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#galeria">Clientes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Productos y Servicios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item nav-link" href="#representacion">Representacion</a></li>
                        <li><a class="dropdown-item nav-link" href="#motores">Motores y Compresores</a></li>
                        <li><a class="dropdown-item nav-link" href="#separacion">Separación y filtración</a></li>
                        <li><a class="dropdown-item nav-link" href="#membranas">Membranas y adsorción</a></li>
                        <li><a class="dropdown-item nav-link" href="#servicios">Servicios</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>