<section id="nosotros" class="full-width-section section-margin">
    <div class="container_nosotros">
        <div class="text-content">
            <h1 class="title"><b>Quienes somos</b></h1>
            <hr class="jf_cont_sec_1_link_nosotros hr auto">
            <p class="justificado">
                En Tradicom SA, somos especialistas en la optimización de procesos por medio de la implementación 
                de tecnología de primera línea para la industria energética. Desde nuestra fundación en 1994, hemos crecido para ofrecer
                productos y servicios en Argentina, Bolivia, Colombia, Brasil, Ecuador, Uruguay y Estados Unidos, nos especializamos en 
                la provisión de motores y compresores, sistemas de filtración y separación y de los servicios asociados. Nuestra misión 
                es mejorar la productividad de nuestros clientes a través de la innovación constante y el soporte técnico especializado.
                Con más de 30 años de experiencia, colaboramos con líderes mundiales en tecnología para asegurar eficiencia, fiabilidad y 
                soluciones personalizadas que incrementan y mejoran la producción de nuestros clientes.
            </p>
        </div>
        <div class="image-container_nosotros">
            <img src="{{ url_for('static', filename='img/nosotros.jpg') }}" alt="Imagen de agenda">
        </div>
    </div>
</section>