<section id="representacion">
    <div class="fila_texto">
        Tenemos el orgullo de tener acuerdos de representación o distribución para la región con las siguientes compañías:
    </div>
    <div class="fila_logos">
        <div class="columna">
            <a href="https://www.cooperservices.com/es/" target="_blank">
                <img src="{{ url_for('static', filename='img/Logo_cooper.jpg') }}" alt="Cooper Machinery Services">
            </a>
            <p class="texto-representacion">Cooper Machinery Services</p>
        </div>
        <div class="columna">
            <a href="https://oilandgasseparations.pentair.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/Logo_pentair.jpg') }}" alt="Pentair Filtration Solutions">
            </a>
            <p class="texto-representacion">Pentair Filtration Solutions</p>
        </div>
        <div class="columna">
            <a href="https://www.linde-engineering.com/products-and-services/process-plants/adsorption-and-membrane-plants" target="_blank">
                <img src="{{ url_for('static', filename='img/Linde_plc_logo.png') }}" alt="Linde GMBH – Adsorption and Membrane Plants">
            </a>
            <p class="texto-representacion">Linde GMBH – Adsorption and Membrane Plants</p>
        </div>
        <div class="columna">
            <a href="https://genmar-latam.com/" target="_blank">
                <img src="{{ url_for('static', filename='img/Logo_Gen_mar.jpg') }}" alt="Genmar LATAM">
            </a>
            <p class="texto-representacion">Genmar LATAM </p>
        </div>
    </div>
</section>